@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* _____________________________________________________ */
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
[class*="col-"]{
    padding: 0 15px;
}
.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}
/* ---------------------------------------------HEADER----------------------- */
.header{
    background-color: #1d2126;
    padding: 20px 0;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: #a4aead;
    padding: 5px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-link:hover{
    border: 2px solid #a4aead;
    border-radius: 5px;
    color: #a4aead;
}
.nav-link-home{
    border: 2px solid #23b7a3;
    border-radius: 5px;
    color: #23b7a3;
}
.search-design{
    outline: none;
    background-color: transparent;
    border: none;
    color: #a4aead;
    width: 63px;
    height: 25px;
}
.search-design::placeholder{
    color: #a4aead;
    font-weight: 600;
    text-transform: uppercase;
}
.custom-search{
    position: relative;
    border: 2px solid #a4aead;
    border-radius: 5px;
}
.search-btn{
   position: absolute;
   width: 20px;
   height: 25px;
   top: -1px;
   right: 5px;
   background-color: transparent;
   border: none;
   background-image: url(images/icon-search.png);
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
}
/* убирам крестик в форме !!!ЗАПОМНИТЬ!!! */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

h2{
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}
/* ------------------------------------------CAROUSEL----------------------------------- */
.block1{
    background-image: url(images/carousel.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 660px;
    display: flex;
    align-items: center;
}
.carousel-item>h2{
    margin-bottom: 20px;
}
.carousel-item>p{
    line-height: 25px;
}
.carousel-item{
    color:white;
    margin-bottom: 45px;
}
.carousel-btn{
    width: 120px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.carousel-btn:hover{
    background: #23b7a3;
    border: 2px solid #23b7a3;
}
.carousel{
    position: relative;
}
.carousel-indicators{
    position: absolute;
    bottom: -130px;
}
.carousel-indicators-btn{
    width: 10px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
}
.carousel-indicators-btn:nth-child(2){
    background: white;
}


/* ------------------------------WE ARE MODEST------------------------- */
[class*="block"]{
    padding-top: 80px;
    padding-bottom: 80px;
}
.block2{
    border-bottom: 1px solid #a4aead;
}
.title{
    position: relative;
    margin-bottom: 80px;
    padding-left: 30px;
}
.title::before{
    content: "";
    background-color: #e1e6ea;
    position: absolute;
    display: block;
    width: 10px;
    height: 30px;
    left: 0;
}
.modest-description p{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 30px;
    color: #a4aead;
}
.bold{
    font-weight: bolder;
}
.modest-links{
    display: flex;
    margin-bottom: 30px;
}
.modest-links-item{
    position: relative;
    background-color: #a4aead;
    width: 60px;
    height: 60px;
    margin-left: 2px;
}
.modest-links-item a{
    position: absolute;
    top: 5px;
    left: 5px;
}
.modest-links-item:hover{
    background-color: #23b7a3;
}

.modest-column2 li{
    margin-bottom: 30px;
    position: relative;
    padding-left: 60px;
}
.modest-num{
    width: 50px;
    height: 50px;
    background-color: #23b7a3;
    text-align: center;
    line-height: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    left: 0;
}
.modest-column2 h3{
    color: black;
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}
.modest-column2 p{
    color: #a4aead;
    line-height: 25px;
    margin-bottom: 30px;
}
/* -----------------------------------------team------------------------- */
.block3{
    border-bottom: 1px solid #a4aead;
}
.team-item-photo img{
    width: 100%;
}
.team-item{
    padding-bottom: 20px;
    position: relative;
}
.team-item-data{
    margin-top: -2px;
    background-color: #e1e6ea;
    height: 75px;
    padding: 20px;
}
.team-name{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.team-description{
    font-size: 14px;
    color: #8d8f92;
}
.team-icons{
    display:none;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 50px;
}
.team-icon{
    margin: 0px 1px;
    height: 50px;
    width: 50px;
}
.icon-twiter{
    background: url(images/icon-twiter.png) no-repeat 50% 50%;
    background-color: #3a454d;
}
.icon-facebook{
    background: url(images/icon-facebook.png) no-repeat 50% 50%;
    background-color: #3a454d;
}
.icon-in{
    background: url(images/icon-in.png) no-repeat 50% 50%;
    background-color: #3a454d;
}
.team-item:hover .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.301);
}
.team-item:hover .team-icons{
    display: flex;
}
.team-item:hover .team-item-data{
    background-color: #3a454d;
}

/* ---------------------------------------Lovely-work------------------------------ */
.block4{
    background-color: #3a454d;
}
.img-item{
    margin-bottom: 30px;
    max-width: 100%;
}
.img-link{
    display: block;
    position: relative;
}
.img-text{
    position: absolute;
    bottom: 33px;
    left:0;
    width: 262px;
    height: 45px;
    background-color: rgb(41, 47, 54);
    display: none;
}
.btn{
    text-align: center;
}
.btn-show-more{
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer ;
}
.btn-show-more:hover{
    border: 2px solid #23b7a3;
    color: #23b7a3;
}
.white{
    color: white;
}

/* -----------------------------what we doo------------------------------------------- */
.block5{
    padding-bottom: 100px;
}
.specific-item{
    text-align: center;
}
.specific-img{
    margin-top: 80px;
    margin-bottom: 30px;
}
.specific-name{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.specific-description{
    color: #a4aead;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.title-bottom{
    margin-bottom: 0;
}
/* ----------------------------------------------------features------------------------- */
.block6{
    background-color: #3a454d;
}
.black{
    color: black;
}




/* tablet */
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .col-sm-1{
        flex: 0 0 8,33333%;
        max-width: 8,33333%;
    }
    .col-sm-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-sm-5{
        flex: 0 0 41%;
        max-width: 41%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7{
        flex: 0 0 58%;
        max-width: 58%;
    }
    .col-sm-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row{
        align-items: center;
    }
    .btn{
        margin-top: 10px;
    }
    .nav-link{
        padding: 2px 0;
    }
    .carousel-indicators{
        bottom: -175px;
        right: 45px;
    }
    .team-icons{
        top: 163px;
        left: 87px;
    }
    
    

}

/* laptop */
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .col-md-1{
        flex: 0 0 8,33333%;
        max-width: 8,33333%;
    }
    .col-md-2{
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4{
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-md-5{
        flex: 0 0 41%;
        max-width: 41%;
    }
    .col-md-7{
        flex: 0 0 58%;
        max-width: 58%;
    }
    .search-design{
        width: 100px;
        padding-left: 10px;
    }
    .btn{
        margin-top: 30px;
    }
    .nav-link{
        padding: 5px;
    }
    .team-icons{
        top: 95px;
        left: 27px;
    }

}

/* desktop */
@media (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
    .search-design{
        width: 135px;
    }
    .team-icons{
        top: 120px;
        left: 50px;
    }

}

/* only mobile */
@media (max-width: 767px){
    .row{
        flex-direction: column;
        align-items: center;
    }
    .col-xs-hidden{
        display: none;
    }
    .nav{
        overflow-x: scroll;
        height: 40px;
        align-items: center;
    }
    .carousel-item>h2{
        margin-bottom: 20px;
    }
    h2{
        font-size: 30px;
    }
    .btn{
        margin-top: 10px;
    }
    .block1{
        text-align: center;
        background-size: cover;
    }
}
